@import url('https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap');

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #0066FF;
    border-radius: 20px 5px;
    /*width: 550px;*/
    text-align: center;
    background-color: #33ADFF;
}
#navbar li { display: inline; }
#navbar a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
#navbar a:hover {
    border-radius: 20px 5px;
    background-color: #0066FF;
}

.converter * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.converter {
    /*min-height: 100vh;*/
    line-height: 1;
    display: flex;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.converter .container {
    margin: auto;
    width: 450px;
    height: 300px;
    border: 1px solid #dfe6e9;
    border-radius: 10px;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
}
.converter .container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #2d3436;
}
.converter .container p {
    margin-bottom: 20px;
    color: #636e72;
}
.converter .container .group {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.converter .container .group input, select {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #b2bec3;
    width: 100%;
    padding: 10px;
}
